<!-- <p>eventss works!</p> -->



<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <h1 style="color: white; text-align: center;">events</h1>
  <br>
  <br>

  <table style="color: white;">
      <thead>
          <tr>
              <th>date</th>
              <th>event name</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of event">
            <th>{{i.date}}</th>
            <th>{{i.ed}}</th>
        </tr>


      </tbody>
  </table>

  <br><br>
  <a routerLink="/dashboard" style="color: darkblue; font-size: 20px; margin-left: 660px; margin-right: auto;">Home</a>
